.aboutus {
    background-color: #e4e6e3;
    height: fit-content;
    width: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 7rem 1rem;
    overflow-x: hidden;
    position: relative;
  }
  
  /* .Content1 {
    background-color: #d9b1b4;
    width: 40%;
    margin: 3rem 0 3rem 6rem;
    height: 18rem;
    text-align: center;
    color: #d9b1b4;
    position: relative; 
  }*/
  

  .Content2 {
    background-color: #4444448b;
    background-image: url(image/good\ man\ doing\ yoga.png);
    background-repeat: no-repeat;
    color: #fff;
    width: 95%;
    padding: 1.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    grid-column: 2;
    z-index: 5;
  }

  .Content2 h1{
    text-align: center;
    font-size: 3rem;
}

.Content2 h5{
    text-align: end;
    padding-right: 3rem;
}


.momimage {
  position: absolute;
  left: 38%;
  z-index: 6;
}

.clover3{
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 6;
}

.clover2{
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 4;
}

.MainMan{
  position: absolute;
  z-index: 0;
  left: 10%;
  top: 10%;
}

.Mainwomen{
  position: absolute;
  z-index: 0;
  height: 75%;
  left: 10%;
  top: 15%;
}

.mom{
  z-index: 6;
  position: absolute;
  height: 40%;
  top: 30%;
  left: 25%;
  rotate: -17deg;
}