.aboutus{
    margin-top: 1px;
}

.aboutus h1{
    text-align: center;
    background-color: #78866a;
    color: #fff;
    /* -webkit-text-stroke: 2px #203801; */
    padding: 2%;
    margin-top: 0px;
    font-family: 'Playfair Display', serif;
    font-size: 5rem;

}

.aboutus h3{
    text-align: center;
    /* -webkit-text-stroke: 1px #203801; */
    font-size: 1.5rem;
    background-color: #78866a;
    color: white;
    padding: 2%;    
}

.certi{
    padding: 1px;
    margin-top: 1px;
    background-image:   url(image/plants.jpg);
}

.certi h1{
    color: white;
    -webkit-text-stroke: 1px #2a4901;
    font-size: 5rem;
    text-align: center;
    -webkit-text-stroke: 2px #203801;
}

.certi p{
    color: #2a4901;
    -webkit-text-stroke: 1px #fff;
    text-align: center;
    font-size: 3rem;
}