.aboutus{
    background-color: #dfd1c9;
    width: auto;
    height: 40%;
    border-color: #fff;
    margin-top: 1px;
    display: inline-flex;
}


.Content1 {
    color: #fff;
    background-color: #d9b1b4;
    position: relative;
    display: inline;
    padding: 10rem;
    top: 15rem;
    left: 4rem;
    width: 100%;
    height: 100%;
    z-index: 3;
}


.Content2{
    color: #fff;
    padding: 1rem;
    width: 50%;
    height: 90%;
    background-size: 50%;
    background-color: rgba(86, 81, 81, 0.605);
    border: 1px solid rgba(88, 94, 86, 0.436);
    border-radius: 30px;
    position: absolute;
    font-size: 1.4rem;
    font-family: 'Playfair Display', serif;
    display: block;
    left: 45%;
    align-items: center;
    z-index: 2;
}

.momimage{
    height: 20%;
    width: 20%;
    position: relative;
    display: flex;
    z-index: 3;
    top: 30%;
    left: 10%;

}

.Content2 h5{
    text-align: end;
    margin-top: 1.5rem;
    margin-right: 1rem;
}














.certi{
    padding: 1px;
    margin-top: 1px;
    background-image:url(image/plants.jpg);
}

.certi h1{
    color: white;
    -webkit-text-stroke: 1px #2a4901;
    font-size: 5rem;
    text-align: center;
    -webkit-text-stroke: 2px #203801;
}

.certi p{
    color: #2a4901;
    -webkit-text-stroke: 1px #fff;
    text-align: center;
    font-size: 3rem;
}