.bton{
    background-color: #fff;
    color: #2a4901;
    padding: 7%;
    border: none;
    border-radius: 7px;
    display: inline;
    flex: none;
}

.bton:hover {
    transition: 1s;
}  

.bton:hover::after{
    text-decoration:none;
    color: #fff;
    background: var(#2a4901);
 }