.bton{
    background-color: #fff;
    color: #2a4901;
    border: none;
    border-radius: 3px;
    /* display: inline; */
    padding: 0.2rem;
    font-size: large;
    flex: none;
}

.bton:hover {
    transition: 0.1s;
    color: #fff;
    background: #2a4901;

}  