.main{
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #2a4901;
    height: 150px;
    padding: 1%;
}

.copywrite{
    font-size: 13px;
    color: #2a4901;
    background-color: #fff;
    padding: 10px;
}

a,
a:visited,
a:active{
  text-decoration: none;
}

a{
    color: #fff;
}