.home{
    background-image: url(image/cosmos3.jpg);
    background-position: center;
    background-size: cover;
    position: center;
    height: 50rem;
    display: grid;
    width: 100%;
    zoom: 100%;
    background-repeat: no-repeat;
    font-family: 'Playfair Display', serif;
    -webkit-text-stroke: 1px #203801;
    z-index: 1;
}

/* this is underthing, the rotating lotus stuff */

.homeCoolStuff {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45rem;
    z-index: 2;
    grid-row: 1/4;
    grid-column: 1/2;
}

.home-lotus  {
    position: relative;
    width: 750px; 
    height: 725px;
    /* transform: rotate(10deg);
    transition: 1s; */
    animation: rotation 60s infinite linear;    
} 

@keyframes rotation {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
    }
}

.home-yogaGirl {
    position: absolute;
    width: 140px; 
    height: 140px;
} 


/* the i think boring above stuff */

.overlay-Content{
    background-image: linear-gradient(rgba(153, 177, 107, 0.34),rgba(153, 177, 107, 0.34));
    display: block;
    position: relative;
    z-index: 9;
    grid-row: 1/4;
    grid-column: 1/2;

}

.home h1,h2,h4 {
    color: #fff;
    text-wrap: wrap;
    justify-content: center;
    font-size: 3rem;
    padding: 2%;
}

.home p{
    display: block;
    color: #fff;
    text-align: center;
    font-size: xx-large;
}

