.home{
    background-color: #e4e6e3;
    background-image:url(image/cosmos4.jpg);
    background-size: 50%;
    height: 43rem;
    width: 100%;
    display: grid;
    background-repeat: no-repeat;
    font-family: 'Playfair Display', serif;
    z-index: 3;
}

#main-content{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 33rem;
    align-items: center;
    font-size: 11rem;
    padding: 5px;
    z-index: 7;
}

.second-half{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image:url(image/cosmos4.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    z-index: 10;

}

.first-half{
    color: #cfcfcf;

}


.Overlay-Content1{
    color: #fff;
    background-color: rgba(88, 94, 86, 0.450);
    width: 43%;
    height: fit-content;
    padding: 1%;
    border: 1px solid rgba(88, 94, 86, 0.450);
    border-radius: 10px;
    position: absolute;
    top: 3.5rem;
    left: 30rem;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    z-index: 5;

}

.changes{
    color: #398542;
    font-size: 2.5rem;
    font-family:monospace;
}

.Overlay-Content2{
    color: #fff;
    background-color: rgba(88, 94, 86, 0.200);
    width: 30%;
    height: fit-content;
    padding: 1%;
    border: 1px solid rgba(88, 94, 86, 0.200);
    border-radius: 10px;
    position: absolute;
    top: 23rem;
    left: 65%;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    z-index: 5;

}

.Overlay-Content3{
    color: #fff;
    background-color: rgba(88, 94, 86, 0.594);
    width: 40%;
    height: fit-content;
    padding: 1%;
    border: 1px solid rgba(88, 94, 86, 0.594);
    border-radius: 10px;
    position: absolute;
    top: 20rem;
    left: 4rem;
    font-size: 1.4rem;
    font-family: 'Playfair Display', serif;
    z-index: 5;
}

.Overlay-Content3 h4{
    text-align: right;
}
