.home{
    background-image:linear-gradient(rgba(48, 94, 48, 0.584),rgba(85, 134, 85, 0.584)), url(image/plants.jpg);
    background-position: center;
    background-size: cover;
    position: center;
    height: 50rem;
    display: flex;
    width: 100%;
    background-repeat: no-repeat;
    font-family: 'Playfair Display', serif;
    -webkit-text-stroke: 1px #203801;
    z-index: 1;
}

/* this is underthing, the rotating lotus stuff */

.homeCoolStuff {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45rem;
    z-index: 2;
}

.home-lotus  {
    position: absolute;
    width: 500px; 
    height: 500px;
} 

.home-yogaGirl {
    position: absolute;
    width: 140px; 
    height: 140px;
} 


/* the i think boring above stuff */

.overlay-Content{
    background-image: linear-gradient(rgba(39, 75, 39, 0.674),rgba(39, 75, 39, 0.674));
    display: block;
    position: relative;
    z-index: 9;
}

.home h1,h2,h4 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    padding: 2%;
}

.home p{
    color: #fff;
    text-align: center;
    font-size: xx-large;
}

