nav{
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color:#2a4901;
    position: fixed;
    text-align: center;
    display: inline-flex;
    top: 0; 
    text-decoration: none;
    z-index: 10;
    /* padding: 0.1rem; */
}

.nav-items a{
    font-family: 'Playfair Display', serif;
    display: inline-flex;
    text-decoration: none;
    color: #fff;
    padding: 3px 15px;
    /* padding-top: 1.7%; */
}
  
.nav-items a:hover {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    color: #fff;
    font-size:large;
}  

a,
a:visited,
a:active{
  text-decoration: none;
}

.logo{
    margin-left: 1%;
    margin-right: 95%;
    position: fixed;
    margin-top: 0.25rem;
    opacity: 200;
    scroll-behavior: smooth;
}