@import url("navigation.css");
@import url("home.css");
@import url("bton.css");
@import url("aboutus.css");
@import url("footer.css");

* {
    box-sizing: border-box;
    margin :0;
    padding : 0;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
    transition: 1s;
    /* overflow: hidden; */
    scrollbar-color: #2a4901 #2a4901;
}

.box{
  display: flex;
}


a,
a:visited,
a:active{
  text-decoration: none;
}