.nav {
    width:100%;
    display: inline-flex;
    background-color: #2a4901;
    top: 0; 
    padding:0.1%;
    text-decoration: none;
  }

.nav-items{
    width: 100%;
    text-align: center;
    background-color:#2a4901;
}

.nav-items a{
    font-family: 'Playfair Display', serif;
    display: inline-flex;
    justify-content: space-around;
    justify-content: center;
    text-align: center;
    position:relative;
    text-decoration: none;
    color: #fff;
    padding: 0 1rem;
    padding-top: 0.7%;
}
  
.nav-items a:hover {
    text-decoration: underline;
    color: #fff;
}  

a,
a:visited,
a:active{
  text-decoration: none;
}

.logo{
    margin-left: 1%;
    opacity: 200;
    background-color: #2a4901;
}